# MongoDB Atlas URI
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/sergio-nolasco

# JWT Secret for Auth
JWT_SECRET=your_super_secret_key_here

# Optional: Netlify environment variables
# NODE_ENV=production
